 
 {% load custom_filters %}
 {% include 'shrihariapp/navigation.html' %}
    <div class="main" style="margin-top: -100px;height:120%"> 

         {{ form.non_field_errors }}
     
      <div align="right">
             <a href="{% url 'customer_list' %}"> <i class="fa fa-list"></i> Delivery Boy list</a>
      </div>
                  <div  style="box-shadow: 0px 3px  5px #ccc; border-radius:10px;padding:30px;">
           <form method="post" enctype="multipart/form-data">

    {% csrf_token %}

     <!-- {{ form.as_p }} -->
    
    <div class="form-group"  >
        
      

         <input type="hidden" class="form-control" name="created_by" value="{% if form.created_by.value is not empty %}{{ form.created_by.value }}{% else %}{{ user.username }}{% endif %}">


         

        
          

         {% for error in form.username.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
       
    </div>
   <div class="row">
    <div class="form-group col-md-6">
        <label > Name</label>
        <input type="text" class="form-control" name="customer_name" value="{{ form.customer_name.value|default_if_none }}" required>
             

         {% for error in form.customer_name.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
    </div>


    <div class="form-group col-md-6">
        <label >Address:</label>
        <input type="text" class="form-control" name="customer_address" value="{{ form.customer_address.value|default_if_none }}" required>

        {% for error in form.customer_address.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
       
    </div>
</div>
 <div class="row">

    <!--  <div class="form-group col-md-6">
        <label >City:</label>
        <input type="text" class="form-control" name="customer_city" value="{{ form.customer_city.value }}" required>

        {% for error in form.customer_city.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
       
    </div>


     <div class="form-group col-md-6">
        <label >District:</label>
        <input type="text" class="form-control" name="customer_dist" value="{{ form.customer_dist.value }}" required>

        {% for error in form.customer_dist.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
       
    </div> -->
</div>
<div class="row">
    <!--  <div class="form-group col-md-6">
        <label >customer_plan:</label>
       

         <select name="customer_plan" class="form-control">
    <option value="Daily" {% if form.customer_plan.value == 'Daily' %} selected {% endif %}>Daily</option>
    <option value="Quarterly" {% if form.customer_plan.value == 'Quarterly' %} selected {% endif %}>Quarterly</option>
    <option value="Weekly" {% if form.customer_plan.value == 'Weekly' %} selected {% endif %}>Weekly</option>
</select>


        {% for error in form.customer_plan.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
       
    </div>



    <div class="form-group col-md-6">
        <label>Package </label>
       <select name="package"  class="form-control">
    {% for package in packages %}
        <option value="{{ package.id }}"   {% if form.package.value == package.id %} selected {% endif %}>{{ package.package_name }}</option>
    {% endfor %}
     </select>
          {% for error in form.package.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
        
    </div> -->
</div>

 <div class="row">

    <!--  <div class="form-group col-md-6">
        <label >Plan Start Date:</label>
        <input type="date" class="form-control" name="start_date" value="{{ form.start_date.value }}" required>

        {% for error in form.start_date.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
       
    </div> -->
    




     <div class="form-group col-md-6">
        <label >User Name:</label>
        <input type="email" class="form-control" name="username" value="{{ form.username.value|default_if_none }}" >

         {% for error in form.username.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}

        {% for message in messages %}
            <small{% if message.tags %} class="{{ message.tags }}form-text text-danger"{% endif %}>{{ message }}</small>
        {% endfor %}
       
    </div>
    </div>  


<div class="row">

     <div class="form-group col-md-6">
        <label >phone:</label>
        <input type="text" class="form-control" name="phone" value="{{ form.phone.value|default_if_none }}" required>

        {% for error in form.phone.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
       
    </div>
      




     <div class="form-group col-md-6">
        <label >Password</label>
        <input type="password" class="form-control" name="password1" value="" >

        {% for error in form.password1.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
       
    </div>
    </div>     
    


        <input type="hidden" class="form-control" name="role" value="DeliveryBoy" required>
     

   

    <button class="btn btn-primary" type="submit">Submit </button> 
</form>
  </div>

    </div> 
  </div> 

  

  <script src="/media/index.js"></script> 
  <script src="/media/tinymce/tinymce.min.js"></script>

  <script>tinymce.init({selector:'textarea'});</script>
</body> 
</html>
