 {% include 'employeeapp/navigation.html' %}
    <div class="main"> 
     
      <div align="right">
             <a href="{% url 'fine_upload' %}"> <i class="fa fa-plus"></i> Apply For Fine</a>
      </div>
      <br>
    <table id="example" class="display nowrap" style="width:100%">
      <thead>
        <tr>
             <th> Student Name</th>
             <th> Attendance</th>
             <th> Date</th>     
             <th>Action</th>  
        </tr>

    </thead>
    <tbody>

    {% for fine in fines %}
     {%  if  user.role == 'admin' %}
        <tr>
            <td>{{ fine.student_name.firstname}}  {{ fine.student_name.lastname}}</td>
            <td>{{ fine.status}} </td>
            <td>{{ fine.date }} </td>
        
          <!--  <td>
    {% if fine.approved_status == 0 %}
    
        <button class="btn btn-primary"onclick="approverefund({{ fine.id }})" title="approve"><i class="fa fa-check-circle"></i></button>

        <button class="btn btn-danger"onclick="rejectrefund({{ fine.id }})" title="reject"><i class="fa fa-ban"></i></button>

   {% elif fine.approved_status == 2 %}
    Rejected
    {% else %}
        Approved
    {% endif %}

         
    
</td>  -->
            <td><a href="{% url 'attendance_delete' pk=fine.pk %}"><i class="fa fa-trash-o"></i></a>
                 <a href="{% url 'Attendance_edit' pk=fine.pk %}"><i class="fa fa-edit"></i></a></td> 
        </tr> 
{% else %}


<!-- <tr  {% if refund.student_name != user.username %} style="display:none" {% endif %}> -->
    <tr>
            <td>{{ fine.student_name.firstname}}  {{ fine.student_name.lastname}}</td>
            <td>{{ fine.status }} </td>
            <td>{{ fine.date }} </td>
            
          <!--  <td>
    {% if refund.approved_status == 0 %} -->
    
       <!--  <button class="btn btn-primary"onclick="approverefund({{ refund.id }})" title="approve"><i class="fa fa-check-circle"></i></button>

        <button class="btn btn-danger"onclick="rejectrefund({{ refund.id }})" title="reject"><i class="fa fa-ban"></i></button> -->

     <!--    Requested

   {% elif refund.approved_status == 2 %}
    Rejected
    {% else %}
        Approved
    {% endif %}

         
    
</td>  -->
            <td>

               <!--  <a href="{% url 'refund_delete' pk=fine.pk %}"><i class="fa fa-trash-o"></i></a>
                 <a href="{% url 'refund_edit' pk=fine.pk %}"><i class="fa fa-edit"></i></a> -->
                     
                 </td> 
        </tr> 






      {% endif %}         
    {% endfor %}

    </tbody>
    </table>


    </div> 
  </div> 

      
      <script src="/media/index.js"></script> 
 

  <script>
    function approverefund(leaveId) {
        $.ajax({
            url: '/hostelapp/approverefund/',
            type: 'POST',
            data: {
                'leave_id': leaveId,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); // Display success message
               location.reload(); // Reload the page
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to approve leave:', err);
            }
        });
    }
</script>
 <script>
    function rejectrefund(leaveId) {
        $.ajax({
            url: '/hostelapp/rejectrefund/',
            type: 'POST',
            data: {
                'leave_id': leaveId,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); // Display success message
               location.reload(); // Reload the page
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to approve leave:', err);
            }
        });
    }
</script>


      <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
      <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
      <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
      <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<script type="text/javascript">
 
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
         "scrollX": true,
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
  </script>

</body> 
</html>
