 {% load custom_filters %}
 {% include 'shrihariapp/navigation.html' %}


    <div class="main" style="margin-top: -100px;height:120%"> 
     
      <div align="right">
            
      </div>
      <br>

      <div  style="box-shadow: 0px 3px  5px #ccc; border-radius:10px;padding:30px;">
        {%  if  user.role == 'admin' %}
    <table id="example" class="display nowrap" style="width:100%">
         {% else %}
    <table class="table" style="width:100%">     
         {% endif %} 
      <thead>
        <tr>
             <th> Customer Name</th>
             <th> Delivery Address</th>     
             <th> Package Name</th>
             <th> package Plan</th>
             <th> Package Start Date</th>
             <th> Status</th>
             <th> Package End Date</th>
             <th> Action </th>
             <th> </th>

             <!-- <th>Action</th>   -->
        </tr>

    </thead>
    <tbody>

    {% for order in ordersss %}

    {%  if  user.role == 'admin' %}
      
        <tr>
            <td>{% if order.approved_status == 2 %} <i class="fa-solid fa-circle-exclamation fa-shake" style="color:red"></i>{% endif %} &nbsp;{{ order.created_by.customer_name }}  </td>
            <td>{{ order.delievery_address }}</td>
            <td>{{ order.package_id.package_name }}</td>
            <td>{{ order.customer_plan }} </td>
            

            {% load custom_filters %}


    {% with days=order.package_id.package_days|mul:order.package_id.gap_days %}
        {% with final_date=order.start_date|add_days:days %}
            <td>{{ order.start_date }}</td>
           {% if final_date <= today %}
               <td><span style="background-color: red;padding:4px;color:white">Inactiva {{ order.package_id.gap_days }} </span></td>
            {% else %}
                <td><span style="background-color: green;padding:4px;color:white">Active {{ order.package_id.gap_days }} </span></td>
            {% endif %}
            <td>{{ final_date }}</td>
        {% endwith %}
    {% endwith %}



            
            
            <td>
                 <a href="{% url 'order_delete' pk=order.pk %}"><i class="fa fa-trash-o"></i></a>
                 <a href="{% url 'order_edit' pk=order.pk %}"><i class="fa fa-edit"></i></a>
            </td> 

            <td> 
                 {% if order.approved_status == 0 %}
        
                 <button class="btn btn-primary"onclick="stop({{ order.id }})" title="to bepause"><i class="fa-solid fa-pause"></i></button>
                 {% elif order.approved_status == 2 %}


                  <button class="btn btn-danger" onclick="stop({{ order.id }})" title="Request for pause"> <i class="fa-solid fa-circle-exclamation fa-shake" style="color:white"></i> </button>



                {% else %}

                 <button class="btn btn-primary"onclick="resume({{ order.id }})" title="to bepause"><i class="fa-solid fa-play fa-beat"></i></button>

                
                {% endif %} 
            </td> 
        </tr> 

        {% else %} 

                <tr  {% if order.created_by.username != user.username %} style="display:none" {% endif %}>
            <td>{{ order.created_by.customer_name }} </td>
            <td>{{ order.delievery_address }}</td>
            <td>{{ order.package_id.package_name }}</td>
            <td>{{ order.customer_plan }} </td>
            

            {% with days=order.package_id.package_days|mul:order.package_id.gap_days %}
        {% with final_date=order.start_date|add_days:days %}
            <td>{{ order.start_date }}</td>
           {% if final_date <= today %}
               <td><span style="background-color: red;padding:4px;color:white">Inactiva  </span></td>
            {% else %}
                <td><span style="background-color: green;padding:4px;color:white">Active  </span></td>
            {% endif %}
            <td>{{ final_date }}</td>
        {% endwith %}
    {% endwith %}
            
            
            <td>
                <!--  <a href="{% url 'order_delete' pk=order.pk %}"><i class="fa fa-trash-o"></i></a>
                 <a href="{% url 'order_edit' pk=order.pk %}"><i class="fa fa-edit"></i></a> -->

                  {% if order.approved_status == 0 %}
        
                 <button class="btn btn-primary"onclick="stopforcustomer({{ order.id }})" title="Pause"><i class="fa-solid fa-pause"></i></button>

                 {% elif order.approved_status == 2 %}

                <button class="btn btn-primary" title="Pause"><i class="fa-solid fa-pause" disabled></i></button>


                {% else %}

                 <button class="btn btn-primary"onclick="resume({{ order.id }})" title="Restart"><i class="fa-solid fa-play fa-beat"></i></button>

                
                {% endif %} 
            </td> 


            <td>
                
            </td> 
        </tr> 

         {% endif %}
    {% endfor %}

    </tbody>
    </table>

   </div>
    </div> 
  </div> 

      
      <script src="/media/index.js"></script> 
 
 

 <!-- <script>
    function stop(orderId) {
        $.ajax({
            url: '/shriharidoodhapp/stop/',
            type: 'POST',
            data: {
                'order_id': orderId,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); 
               location.reload(); 
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to approve leave:', err);
            }
        });
    }
</script> -->

<script>
    function stop(orderId) {
        // Display alert message
        alert("Thank You !. Action will be taken after 24 hours. for more info please contact to admin");

        // Make AJAX request to pause the order
        $.ajax({
            url: '/shriharidoodhapp/stop/',
            type: 'POST',
            data: {
                'order_id': orderId,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); 
               location.reload(); 
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to pause order:', err);
            }
        });
    }
</script>




<script>
    function stopforcustomer(orderId) {
        // Display alert message
        alert("Thank You !. Action will be taken after 24 hours. for more info please contact to admin");

        // Make AJAX request to pause the order
        $.ajax({
            url: '/shriharidoodhapp/stopforcustomer/',
            type: 'POST',
            data: {
                'order_id': orderId,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); 
               location.reload(); 
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to pause order:', err);
            }
        });
    }
</script>
<!-- <script>
    function resume(leaveIdd) {
        $.ajax({
            url: '/shriharidoodhapp/resume/',
            type: 'POST',
            data: {
                'leave_idd': leaveIdd,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); 
               location.reload(); 
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to approve leave:', err);
            }
        });
    }
</script> -->

<script>
    function resume(leaveIdd) {
        var currentTime = new Date();
        var hours = currentTime.getHours();

        // Check if the current time is after 3 PM
        if (hours >= 18) {
            alert("Please try between 10 AM to 3 PM.");
            return; // Exit the function
        }

        // Proceed with the AJAX request
        $.ajax({
            url: '/shriharidoodhapp/resume/',
            type: 'POST',
            data: {
                'leave_idd': leaveIdd,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); 
               location.reload(); 
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to approve leave:', err);
            }
        });
    }
</script>


      <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
      <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
      <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
      <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<script type="text/javascript">
 
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
         "scrollX": true,
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
  </script>






</body> 
</html>
