 {% include 'shrihariapp/navigation.html' %}
    <div class="main"> 
      <div class="row-cards">
      <a href="{% url 'customer_list' %}"><div class="card card1">Customers
      <span>{{ customer_count }}</span></div></a>
      <a href="{% url 'product_list' %}"><div class="card card2">Products
      <span>{{ product_count }}</span></div></a>
      <a href="{% url 'order_list' %}"><div class="card card3">One time Order
       <span>{{ order_count1 }}</span></div></a>
       <a href="{% url 'daily_list' %}"><div class="card card4">Subcribers
       <span>{{ order_count2 }}</span></div></a>
       <a href="{% url 'Delievery_list' %}"><div class="card card5"> People Assigned <br>to Delivery Boy 
                  <span> {{ delivery_count_by_order }}</span>
       </div></a>
     <!--  <a href=""><div class="card card4">Download Center</div></a>
      <a href=""><div class="card card5">My Documents</div></a>
      <a href=""><div class="card card6">Fine List</div></a>
      <a href=""><div class="card card7">Phone Directory</div></a>
      <a href=""><div class="card card8">Notice Board</div></a> -->
      </div>
      <div class="line-chart" style="display:none">
        <div class="graph-text">
        <h1 class="attendance-graph-text">Sell: </h1>
        <p class="attendance-graph-subtext">  Last Year</p>
        </div>
        <div class="graph-changes" style="display:none">
        <canvas id="myChart"></canvas>
        </div>
      </div>
    </div> 
  </div> 

  

  <script src="/media/index.js"></script> 
</body> 
</html>
