 {% load custom_filters %}
 {% include 'shrihariapp/navigation.html' %}


    <div class="main" style="margin-top: -100px;height:120%"> 
     
     {%  if  user.role == 'admin' %}
      <!-- <div align="right">
             <a href="{% url 'add_customer' %}"> <i class="fa fa-plus"></i> Add Customer</a>
      </div> -->
      {% endif %}
      <br>


        {% if messages %}
       
            {% for message in messages %}
          <h3 style="text-align: center;color:green">       {{ message }}</h3>
            {% endfor %}
       
        {% endif %}

      <div  style="box-shadow: 0px 3px  5px #ccc; border-radius:10px;padding:30px;">
    {%  if  user.role == 'admin' %}
    <table id="example" class="display nowrap" style="width:100%">
         {% else %}
    <table id="example" class="table" style="width:100%">     
         {% endif %} 
      <thead>
        <tr>
             <th> Customer Name</th>
             <th> Delievery Address</th>     
             <th> Product Name</th>
             <th> start Date</th>
             <th> End Date</th>
             <th> Unit price</th>
             <th> Qty</th>
             <th> Payable Amount</th>
             

             <!-- <th>Action</th>   -->
        </tr>

    </thead>
    <tbody>

    {% for order in orderss %}

    {%  if  user.role == 'admin' %}
      
        <tr>
            <td>{{ order.created_by.customer_name }} </td>
            <td>{{ order.delievery_address }}</td>
            <td> <img src="/media/{{ order.product_id.product_image }}" style="width:50px">{{ order.product_id.product_name }}({{ order.product_id.varient }} )</td>
            <td>{{ order.order_date }} </td>
             <td>{{ order.order_date }} </td>
            <td>{{ order.product_id.saleprice }} </td>
            <td>{{ order.order_qty }} </td>
            
            {% load custom_filters %}
            {% with price=order.product_id.saleprice|mul:order.order_qty %}
              <td>{{ price }}</td>

             {% endwith %}
             </td>
            <!-- <td></td>  -->
        </tr>

        {% else %} 
    
     <tr {% if order.created_by.username != user.username %} style="display:none" {% endif %}>
            <td>{{ order.created_by.customer_name }} </td>
            <td>{{ order.delievery_address }}</td>
            <td> <img src="/media/{{ order.product_id.product_image }}" style="width:50px">{{ order.product_id.product_name }}({{ order.product_id.varient }} )</td>
             <td>{{ order.order_date }} </td>
             <td>{{ order.order_date }} </td>
            <td>{{ order.product_id.saleprice }} </td>
            <td>{{ order.order_qty }} </td>
            
            {% load custom_filters %}
            {% with price=order.product_id.saleprice|mul:order.order_qty %}
              <td>{{ price }}</td>

             {% endwith %}
             </td>
            <!-- <td></td>  -->
        </tr>

       {% endif %}



        
    {% endfor %}

    </tbody>
    </table>

   </div>
    </div> 
  </div> 

      
      <script src="/media/index.js"></script> 
 
  <script>
    function resolve(leaveId) {
        $.ajax({
            url: '/hostelapp/resolvecomplaint/',
            type: 'POST',
            data: {
                'leave_id': leaveId,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); 
               location.reload(); 
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to approve leave:', err);
            }
        });
    }
</script>





 <script>
    function rejectstudent(leaveId) {
        $.ajax({
            url: '/hostelapp/rejectstudent/',
            type: 'POST',
            data: {
                'leave_id': leaveId,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); // Display success message
               location.reload(); // Reload the page
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to approve leave:', err);
            }
        });
    }
</script>


      <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
      <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
      <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
      <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<script type="text/javascript">
 
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
         "scrollX": true,
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
  </script>

</body> 
</html>
