 {% include 'shrihariapp/navigation.html' %}
     <div class="main" style="margin-top: -100px;height:120%"> 
         
     
    
 <div  style="box-shadow: 0px 3px  5px #ccc; border-radius:10px;padding:30px;">
           <form method="post" enctype="multipart/form-data">

    {% csrf_token %}

     <!-- {{ form.as_p }} -->
    
    <div class="form-group"  >
        
        <!-- <input type="hidden" class="form-control" name="apply_by" value="{{ user.username }}"> -->

         <input type="hidden" class="form-control" name="created_by" value="{% if form.created_by.value is not empty %}{{ form.created_by.value }}{% else %}{{ user.id }}{% endif %}">



         <input type="hidden" class="form-control" name="product_id" value="{{ product_id }}">
           


       
    </div>

    <div class="form-group">
        <label >Order Date</label>
        <input id="booking-date" type="date" class="form-control" name="order_date" value="{{ form.order_date.value }}" required>
          

         {% for error in form.order_date.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}




        
    </div>


    <div class="form-group">
        <label >Qty</label>
        <input type="number" class="form-control" name="order_qty" value="{{ form.order_qty.value }}" required>
          

         {% for error in form.order_qty.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}




        
    </div>


    <div class="form-group">
        <label style="display:none">Delievery Address:</label>
        <input type="hidden" class="form-control" name="delievery_address" value="{{ user.customer_address }}" required>

        {% for error in form.delievery_address.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
       
    </div>

 
    <button class="btn btn-primary" type="submit">Place Order </button> 

       {% for error in form.created_by.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}





</form>

  
    </div> 
  </div> 

  

  <script src="/media/index.js"></script> 

  <script>
    function updateBookingDate() {
        // var typeSelect = document.getElementById("select-type");
        var bookingDateInput = document.getElementById("booking-date");
        // var selectedType = typeSelect.value;
        var today = new Date();
        var currentHour = today.getHours();

     
            if (currentHour >= 18) {
                // Add one day to today's date
                today.setDate(today.getDate() + 1);
            }
        

        // Set the min attribute of the booking date input
        var minDate = today.toISOString().split("T")[0];
        bookingDateInput.min = minDate;
        bookingDateInput.value = minDate; // Set the initial value to the calculated min date
    }

    // Call the updateBookingDate function on page load (if needed)
    updateBookingDate();
</script>
</body> 
</html>
