 {% load custom_filters %}
 {% include 'shrihariapp/navigation.html' %}
    <div class="main" style="margin-top: -100px;height:120%"> 
       {%  if  user.role == 'admin' %}
 
      <div align="right">
             <a href="{% url 'create_package' %}"> <i class="fa fa-plus"></i> Create Package</a>
      </div>
      {% endif %}
      <br>

       {% if messages %}
       
            {% for message in messages %}
          <h3 style="text-align: center;color:green">       {{ message }}</h3>
            {% endfor %}
       
        {% endif %}

   <div class="row">


    {% for package in packages %}
   
        {%  if  user.role == 'customer' %}

       
         
        <div id="pckackagebox1" class="col-md-2 col-sm-2 col-xl-4" >
             <a href="{% url 'order_createtwo' package_id=package.pk %}">
            <div   id="pckackagebox" style="box-shadow: 0px 3px  5px #ccc; border-radius:10px;padding:40px;margin-left: 10px;height:480px">
           <div style="text-align: justify-all;">

            <div align="center">
            {% if package.package_image %}<img    src="/media/{{ package.package_image }}" style="width:100px;height:100px;border-radius: 100%;" >
                {% else %}{% endif %}
            </div>
            <br><br>
           <h6><b> Package Name: </b> {{ package.package_name }} </h6>
           <h6> <b>Price : </b>{{ package.package_price }} </h4>
           <h6> <b> Products:</b>
                {% for product in package.products.all %}
                    {{ product.product_name }}( {{ product.varient }}),
                {% endfor %} </h6>
           <h6><b> Days: </b>{{ package.package_days }}  </h4> 
          <h6><b>  </b>{{ package.description|default_if_none|break_after_20_chars|safe }}  </h4> 
            <br><br>
            <div align="center">
                {%  if  user.role == 'admin' %}
            <h6> 
                 <a href="#" onclick="confirmDelete('{{ package.pk }}')"><i class="fa fa-trash-o"></i></a>
                 <a href="{% url 'package_edit' pk=package.pk %}"><i class="fa fa-edit"></i></a>

             </h6>

                {% endif %}

             {%  if  user.role == 'customer' %}
            <h6>
               <a href="{% url 'order_createtwo' package_id=package.pk %}">
    <button class="btn btn-primary" style="background-color: #083D27; border:none">
        <i class="fa-solid fa-cart-shopping fa-beat"></i> Buy Now
    </button>
    </a>
                 
                    {% endif %}</h6>
            </div>
   
           </div>

        </div>
    </div>
</a>
     







             {%  else %}

       
         
        <div class="col-md-4" >
            <div style="box-shadow: 0px 3px  5px #ccc; border-radius:10px;padding:40px;margin-left: 10px;height:480px">
           <div style="text-align: justify-all;">

            <div align="center">
            {% if package.package_image %}<img    src="/media/{{ package.package_image }}" style="width:100px;height:100px;border-radius: 100%;" >
                {% else %}{% endif %}
            </div>
            <br><br>
           <h6><b> Package Name: </b> {{ package.package_name }} </h6>
           <h6> <b>Price : </b>{{ package.package_price }} </h4>
           <h6> <b> Products:</b>
                {% for product in package.products.all %}
                    {{ product.product_name }}( {{ product.varient }}),
                {% endfor %} </h6>
           <h6><b> Days: </b>{{ package.package_days }}  </h4> 
          <h6>{{ package.description|default_if_none|break_after_20_chars|safe }}  </h4> 
            <br><br>
            <div align="center">
                {%  if  user.role == 'admin' %}
            <h6> 
                 <!-- <a href="{% url 'package_delete' pk=package.pk %}"><i class="fa fa-trash-o"></i></a> -->
                 <a href="#" onclick="confirmDelete('{{ package.pk }}')"><i class="fa fa-trash-o"></i></a>
                 <a href="{% url 'package_edit' pk=package.pk %}"><i class="fa fa-edit"></i></a>

             </h6>

                {% endif %}

             {%  if  user.role == 'customer' %}
            <h6>
               <a href="{% url 'order_createtwo' package_id=package.pk %}">
    <button class="btn btn-primary" style="background-color: #083D27; border:none">
        <i class="fa-solid fa-cart-shopping fa-beat"></i> Buy Now
    </button>
    </a>
                 
                    {% endif %}</h6>
            </div>
   
           </div>

        </div>
    </div>
   
   {% endif %}  


   <script>
    function confirmDelete(packageId) {
        if (confirm("All orders with this package will be deleted. Please take backup of orders in Excel. Are you sure you want to delete?")) {
           
             window.location.href = "{% url 'package_delete' pk=package.pk %}";
        } else {
            
            return false;
        }
    }
</script>
       
    {% endfor %}

   </div>
  


    </div> 
  </div> 

      
      <script src="/media/index.js"></script> 
 

  <script>
    function approverefund(leaveId) {
        $.ajax({
            url: '/hostelapp/approverefund/',
            type: 'POST',
            data: {
                'leave_id': leaveId,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); // Display success message
               location.reload(); // Reload the page
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to approve leave:', err);
            }
        });
    }
</script>
 <script>
    function rejectrefund(leaveId) {
        $.ajax({
            url: '/hostelapp/rejectrefund/',
            type: 'POST',
            data: {
                'leave_id': leaveId,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); // Display success message
               location.reload(); // Reload the page
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to approve leave:', err);
            }
        });
    }
</script>


      <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
      <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
      <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
      <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<script type="text/javascript">
 
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
         "scrollX": true,
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
  </script>




</body> 
</html>
