 {% load custom_filters %}
 {% include 'shrihariapp/navigation.html' %}
    <div class="main" style="margin-top: -100px;height:120%"> 
     {%  if  user.role == 'admin' %}
      <div align="right">
             <a href="{% url 'add_product' %}"> <i class="fa fa-plus"></i> Add Products</a>
      </div>

       {% endif %}
      <br>

       {% if messages %}
       
            {% for message in messages %}
          <h3 style="text-align: center;color:green">       {{ message }}</h3>
            {% endfor %}
       
        {% endif %}
    
 <div class="row">
    {% for product in products %}

    <!-- <script>
    calculateDiscount('{{ product.mrpprice }}', '{{ product.saleprice }}', {{ product.pk }});
    </script> -->

    {%  if  user.role == 'customer' %}

     <div id="pckackagebox1"class="col-md-4" >

           
            <a href="{% url 'order_create' product_id=product.pk %}">
            <div  id="pckackagebox2"style="box-shadow: 0px 3px  5px #ccc; border-radius:10px;padding:40px;margin-left: 10px;height:480px">
           <div style="text-align: center;">

            <div align="center">
            {% if product.product_image %}<img    src="/media/{{ product.product_image }}" style="width:100px;height:100px;border-radius: 100%;" >
                {% else %}{% endif %}
            </div>
             <br><br>
         
            <h2>{{ product.product_name }} </h2>
            <h6>{{ product.varient }} </h6>
            <h6>{{ product.description|break_after_20_chars|safe }} </h6>
           <h6><del>Price: {{ product.mrpprice }}</del>
                   <strong>{{ product.discount }} %</strong>
           </h6>
           
           <h6><strong>Sale Price: {{ product.saleprice }}</strong></h6>
           <br>
            
                   {%  if  user.role == 'admin' %}
            <h6>
                <a href="{% url 'product_delete' pk=product.pk %}"><i class="fa fa-trash-o"></i></a>
                 <a href="{% url 'product_edit' pk=product.pk %}"><i class="fa fa-edit"></i></a>
                    {% endif %}</h6>



                     {%  if  user.role == 'customer' %}
            <h6>
               <a href="{% url 'order_create' product_id=product.pk %}">
    <button class="btn btn-primary" style="background-color: #083D27; border:none">
        <i class="fa-solid fa-cart-shopping fa-beat"></i> Buy Now
    </button>
</a>
                 
                    {% endif %}</h6>



     </div>  
     </div>
 </a>
     </div>  



     {% else %}

      <div class="col-md-4" >

           

            <div style="box-shadow: 0px 3px  5px #ccc; border-radius:10px;padding:40px;margin-left: 10px;height:480px">
           <div style="text-align: center;">

            <div align="center">
            {% if product.product_image %}<img    src="/media/{{ product.product_image }}" style="width:100px;height:100px;border-radius: 100%;" >
                {% else %}{% endif %}
            </div>
             <br><br>
         
            <h2>{{ product.product_name }} </h2>
            <h6>{{ product.varient }} </h6>
            <h6>{{ product.description|break_after_20_chars|safe }} </h6>
           <h6><del>Price: {{ product.mrpprice }}</del>
                   <strong>Save {{ product.discount }} %</strong>
           </h6>
           
           <h6><strong>Sale Price: {{ product.saleprice }}</strong></h6>
           <br>
            
                   {%  if  user.role == 'admin' %}
            <h6>
                <a href="{% url 'product_delete' pk=product.pk %}"><i class="fa fa-trash-o"></i></a>
                 <a href="{% url 'product_edit' pk=product.pk %}"><i class="fa fa-edit"></i></a>
                    {% endif %}</h6>



                     {%  if  user.role == 'customer' %}
            <h6>
               <a href="{% url 'order_create' product_id=product.pk %}">
    <button class="btn btn-primary" style="background-color: #083D27; border:none">
        <i class="fa-solid fa-cart-shopping fa-beat"></i> Buy Now
    </button>
</a>
                 
                    {% endif %}</h6>



     </div>  
     </div>
     </div> 
{% endif %}
     
         
       
    {% endfor %}
</div>

   

</div> 
    </div> 
  </div> 

      
      <script src="/media/index.js"></script> 
 
  <script>
    function resolve(leaveId) {
        $.ajax({
            url: '/hostelapp/resolvenotice/',
            type: 'POST',
            data: {
                'leave_id': leaveId,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); 
               location.reload(); 
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to approve leave:', err);
            }
        });
    }
</script>





 <script>
    function rejectstudent(leaveId) {
        $.ajax({
            url: '/hostelapp/rejectstudent/',
            type: 'POST',
            data: {
                'leave_id': leaveId,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(response) {
               alert(response.message); // Display success message
               location.reload(); // Reload the page
            },
            error: function(xhr, errmsg, err) {
                // Handle error response
                console.error('Failed to approve leave:', err);
            }
        });
    }
</script>


      <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
      <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
      <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
      <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<script type="text/javascript">
 
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
         "scrollX": true,
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
  </script>

<script>
  
 function calculateDiscount(mrpPrice, salePrice, productId) {
    mrpPrice = parseFloat(mrpPrice);
    salePrice = parseFloat(salePrice);
  // var discountPercentage = ((mrpPrice - salePrice) / mrpPrice) * 100;

  var discountPercentagetwo = mrpPrice - (mrpPrice * (salePrice / 100));

  var discountPercentage = Math.round(discountPercentagetwo);

   var discountElement = document.getElementById("discount_" + productId);
  discountElement.innerHTML = "" + discountPercentage.toFixed(2) + "";
}
</script>
  
</body> 
</html>
