 {% include 'employeeapp/navigation.html' %}
    <div class="main"> 
         {{ form.non_field_errors }}
     
      <div align="right">
             <a href="{% url 'notice_apply_list' %}"> <i class="fa fa-list"></i> View All Notice</a>
      </div>

           <form method="post">

    {% csrf_token %}

     <!-- {{ form.as_p }} -->
    
    <div class="form-group">
        
        <input type="hidden" class="form-control" name="created_by" value="{% if form.created_by.value is not empty %}{{ form.created_by.value }}{% else %}{{ user.username }}{% endif %}">


         {% for error in form.username.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
       
    </div>

    <div class="form-group">
        <label >Date</label>
        <input type="date" class="form-control" name="date" value="{{ form.date.value }}" required>

         {% for error in form.date.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
    </div>

    <div class="form-group">
        <label >Title:</label>
        <input type="text" class="form-control" name="title" value="{{ form.title.value }}" required>

        {% for error in form.title.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
       
    </div>

    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Description:</label>
        <textarea name="desc" value="{{ form.desc.value }}" required>{{ form.desc.value }}</textarea>
          {% for error in form.desc.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
        
    </div>

   

    <button class="btn btn-primary" type="submit">Apply </button> 
</form>


    </div> 
  </div> 

  

  <script src="/media/index.js"></script> 
  <script src="/media/tinymce/tinymce.min.js"></script>

  <script>tinymce.init({selector:'textarea'});</script>
</body> 
</html>
